@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');
body{
  background-color: #dee8e8;
  text-align:center;
  font-family: Georgia,'IBM Plex Serif', serif;
  padding: .6em;
  background-repeat: no-repeat;
  background-size: 100%;
}
label[for="name"],[for="email"],[for="purchase"]{
	display:block;
	vertical-align:center;
}
h1{
  line-height:1.5em;
  font-size:2.4em;
  margin: .17em 0em;
  color:black;
}
p{
  color:black;
  font-size:1.1em;
  line-height:1.2em;
}
ol{
  font-size:1.2em;
  line-height:2em;
  background-color: #dee8e8;
  box-sizing: border-box;
  width: 90%;
  padding: .7em 1.2em;
  margin: 5% 5%;
}
input[type=text], input[type=email]{
  width: 90%;
  padding: .3em .3em;
  margin: 1.2em 1.2em;
  display: inline-block;
  box-sizing: border-box;
  color: #333333;
  border:0em;
}
input[type=checkbox]{
  margin: 1.2em 0px;
  width:90%;
  height:1.2em;
  vertical-align: middle;
  position: relative;
  bottom: .12em;
  border:0em;
}
#Terms {
  color:blue;
}
#Terms:hover {
  	background-color:lightblue;
}
input[type=submit]:hover {
  	background-color:DarkGray;
}
@media only screen and (min-width: 1100px){
body{
  background-image:url("../images/fruit.PNG");
}
input[type= checkbox]{
	width: 1.2em;
}
input[type=text], input[type=email]{
	width:13em;
}
}
@media only screen and (min-width: 800px) {
h1{
  line-height:1.5em;
  font-size:2.5em;
  margin:.5em;
  color:white;
}
p{
  font-size:1.1em;
  line-height:1.2em;
  color:white;
}
#p3{
  color:black;
}
ol{
  font-size:1.2em;
  line-height:1.8em;
}
input[type=submit] {
  width: 23.5em;
}
}
